@using Tiknas.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.BordersDemo

<tiknas-component-demo-section title="Additive" view-path="@BordersDemoViewComponent.ViewPath">
    <span tiknas-border="Default"></span>
    <span tiknas-border="Top"></span>
    <span tiknas-border="Right"></span>
    <span tiknas-border="Bottom"></span>
    <span tiknas-border="Left"></span>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Subtractive" view-path="@BordersDemoViewComponent.ViewPath">
    <span class="border" tiknas-border="_0"></span>
    <span class="border"  tiknas-border="Top_0"></span>
    <span class="border"  tiknas-border="Right_0"></span>
    <span  class="border" tiknas-border="Bottom_0"></span>
    <span class="border" tiknas-border="Left_0"></span>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Border color" view-path="@BordersDemoViewComponent.ViewPath">
    <span tiknas-border="Primary"></span>
    <span tiknas-border="Secondary"></span>
    <span tiknas-border="Success"></span>
    <span tiknas-border="Danger"></span>
    <span tiknas-border="Info"></span>
    <span tiknas-border="Light"></span>
    <span tiknas-border="Dark"></span>
    <span tiknas-border="White"></span>
    <br />
    <span tiknas-border="Left_Primary"></span>
    <span tiknas-border="Top_Secondary"></span>
    <span tiknas-border="Right_Success"></span>
    <span tiknas-border="Bottom_Danger"></span>
    <span tiknas-border="Bottom_Warning"></span>
    <span tiknas-border="Left_Info"></span>
    <span tiknas-border="Top_Light"></span>
    <span tiknas-border="Right_Dark"></span>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Border-radius" view-path="@BordersDemoViewComponent.ViewPath">
    <span tiknas-border="Primary" tiknas-rounded="Default"></span>
    <span tiknas-border="Primary" tiknas-rounded="_0"></span>
    <span tiknas-border="Primary" tiknas-rounded="Top"></span>
    <span tiknas-border="Primary" tiknas-rounded="Left"></span>
    <span tiknas-border="Primary" tiknas-rounded="Bottom"></span>
    <span tiknas-border="Primary" tiknas-rounded="Right"></span>
</tiknas-component-demo-section>
