@inherits Tiknas.TextTemplating.Razor.RazorTemplatePageBase<Tiknas.TextTemplating.Razor.RazorTemplateRendererProvider_Tests.ForgotPasswordEmailModel>
@{
    var url = @"https://tiknas.de/Account/ResetPassword";
}
@Localizer["HelloText", Model.Name], @Localizer["HowAreYou"]. Please click to the following link to get an email to reset your password!<a target="_blank" href="@url">Reset your password</a>