@using Tiknas.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.NavsDemo

<tiknas-component-demo-section title="Base nav" view-path="@NavsDemoViewComponent.ViewPath">
    <tiknas-nav nav-style="Pill" align="Center">
        <tiknas-nav-item>
            <a tiknas-nav-link active="true" href="#">Active</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">Longer nav link</a>
        </tiknas-nav-item>
        <tiknas-nav-item class="dropdown">
            <tiknas-dropdown>
                <tiknas-dropdown-button class="text-primary" text="Dropdown button" />
                <tiknas-dropdown-menu>
                    <tiknas-dropdown-item href="#">Action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Another action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Something else here</tiknas-dropdown-item>
                </tiknas-dropdown-menu>
            </tiknas-dropdown>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">link</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link disabled="true" href="#">disabled</a>
        </tiknas-nav-item>
    </tiknas-nav>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Alignment" view-path="@NavsDemoViewComponent.ViewPath">
    <tiknas-nav nav-style="Pill" align="Start">
        <tiknas-nav-item>
            <a tiknas-nav-link active="true" href="#">Active</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">Longer nav link</a>
        </tiknas-nav-item>
        <tiknas-nav-item class="dropdown">
            <tiknas-dropdown>
                <tiknas-dropdown-button class="text-primary" text="Dropdown button" />
                <tiknas-dropdown-menu>
                    <tiknas-dropdown-item href="#">Action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Another action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Something else here</tiknas-dropdown-item>
                </tiknas-dropdown-menu>
            </tiknas-dropdown>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">link</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link disabled="true" href="#">disabled</a>
        </tiknas-nav-item>
    </tiknas-nav>
    <tiknas-nav nav-style="Pill" align="Center">
        <tiknas-nav-item>
            <a tiknas-nav-link active="true" href="#">Active</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">Longer nav link</a>
        </tiknas-nav-item>
        <tiknas-nav-item class="dropdown">
            <tiknas-dropdown>
                <tiknas-dropdown-button class="text-primary" text="Dropdown button" />
                <tiknas-dropdown-menu>
                    <tiknas-dropdown-item href="#">Action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Another action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Something else here</tiknas-dropdown-item>
                </tiknas-dropdown-menu>
            </tiknas-dropdown>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">link</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link disabled="true" href="#">disabled</a>
        </tiknas-nav-item>
    </tiknas-nav>
    <tiknas-nav nav-style="Pill" align="End">
        <tiknas-nav-item>
            <a tiknas-nav-link active="true" href="#">Active</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">Longer nav link</a>
        </tiknas-nav-item>
        <tiknas-nav-item class="dropdown">
            <tiknas-dropdown>
                <tiknas-dropdown-button class="text-primary" text="Dropdown button" />
                <tiknas-dropdown-menu>
                    <tiknas-dropdown-item href="#">Action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Another action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Something else here</tiknas-dropdown-item>
                </tiknas-dropdown-menu>
            </tiknas-dropdown>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">link</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link disabled="true" href="#">disabled</a>
        </tiknas-nav-item>
    </tiknas-nav>
</tiknas-component-demo-section>

<tiknas-component-demo-section title="Vertical" view-path="@NavsDemoViewComponent.ViewPath">
    <tiknas-nav nav-style="PillVertical" align="Start">
        <tiknas-nav-item>
            <a tiknas-nav-link active="true" href="#">Active</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">Longer nav link</a>
        </tiknas-nav-item>
        <tiknas-nav-item class="dropdown">
            <tiknas-dropdown>
                <tiknas-dropdown-button class="text-primary" text="Dropdown button" />
                <tiknas-dropdown-menu>
                    <tiknas-dropdown-item href="#">Action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Another action</tiknas-dropdown-item>
                    <tiknas-dropdown-item href="#">Something else here</tiknas-dropdown-item>
                </tiknas-dropdown-menu>
            </tiknas-dropdown>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link href="#">link</a>
        </tiknas-nav-item>
        <tiknas-nav-item>
            <a tiknas-nav-link disabled="true" href="#">disabled</a>
        </tiknas-nav-item>
    </tiknas-nav>
</tiknas-component-demo-section>